@import "tailwindcss";

@theme {
  --color-primary: #03fcad; /* Vibrant Green */
  --color-primary-light: #4dfccd;
  --color-secondary: #00d28d;
  --color-secondary-light: #33ffc3;
  --color-background: #ffffff; /* Pure White */
  --color-surface: #000000; /* Pure Black as requested */
  --color-foreground: #171717; /* Neutral 900 */
  --color-muted: #737373; /* Neutral 500 */

  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
  --font-serif: var(--font-playfair), ui-serif, Georgia, serif;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
  }
  @theme inline {
    --color-background: #1c1c1c;
    --color-card-bg: #2c2c2c;
    --color-card-dark-bg: #111111;
    --color-surface: #121212; /* Slightly dark gray for layering in dark mode */
    --color-foreground: #ffffff;
    --color-muted: #a3a3a3;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

/* Base heading font */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-serif);
}

/* Reusable util classes */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .glass {
    @apply bg-white/70 dark:bg-black/70 backdrop-blur-md border border-white/20 dark:border-white/10;
  }
}
